apiVersion: componentconfig/v1alpha1
kind: KubeProxyConfiguration
clientConnection:
  kubeconfig: "/opt/k8s/conf/kube-proxy.kubeconfig"
clusterCIDR: "{{CLUSTER_CIDR}}"
hostnameOverride: "node-1.local"
featureGates: AllAlpha=true
mode: iptables
